body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-links {
    display: flex;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.hero {
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.information {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.information-contents {
    display: flex;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.signup {
    display: flex;
    background-color: #3882F6;

}

.footer {
    text-align: center;
}


.header,
.footer,
.hero {
    background-color: #1F2937;
}

.smaller-main,
.hero-main {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
}

.smaller-main {
    font-size: 24px;
}

.secondary-text,
.information-text {
    font-size: 18px;
}

.secondary-text {
    color: #E5E7EB;
}

.information-text {
    color: gray;
}

.information-image {
    border: solid #3882F6;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}