body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 1rem 256px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 56px 0;
}

.hero-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.hero-main {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.hero-image {
    width: 420px;
    height: 180px;
    text-align: center;
    background-color: gray;
    color: #E5E7EB;
}

.information {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.information-contents {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
}

.information-image {
    border: solid #3882F6;
    height: 11rem;
    width: 11rem;
}

.information-text {
    color: gray;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 6rem 18rem;
    display: flex;
    flex-direction: column;
}

.author {
    margin: 0;
    margin-left: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem 2rem;
    width: 140px;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 256px;
    padding: 36px;
    background-color: #3882F6;
}

.footer {
    text-align: center;
    padding: 24px;
}

.top,
.footer {
    background-color: #1F2937;
}

.smaller-main,
.hero-main {
    color: #F9FAF8;
}

.smaller-main {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.secondary-text,
.information-text {
    font-size: 18px;
}

.secondary-text {
    color: #E5E7EB;
    margin: 0;
}

button,
.information-image,
.signup {
    border-radius: 0.5em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}