body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-links {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.first {
    display: flex;
}

.first-text {
    display: flex;
    flex-direction: column;
}

.second {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.second-contents {
    display: flex;
}

.signup {
    display: flex;
}

.footer {
    text-align: center;
}